@import url( 'https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
body{
    background-color: aquamarine;
}

.container{
    width: 500px;
    min-height: 100vh;
    margin: 30px auto;
    padding: 20px 0; 
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 18px; 
}
.progresBar{
    background-color: #d7d4d4; 
    width: 90%;
    margin: 0 auto;
    height: 25px;
    border-radius: 18px;
}
.progresBar div{
    background-color: #029313; 
    width: 25%;
    height: 100%;
    border-radius: 18px;
    transition: width 0.5s;
}
h1{ 
    padding: 20px 0 0  30px;
}
.click{
    width: 150px;
    margin: 10px;
}.main{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.gif{
width: 50%;
margin: 0 10px;
}
.gif img{
    width: 100%;
}
.content{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.content i{
    color: rgb(8, 188, 248);
    margin: 0 5px;
}
.wordBank{
    width: 90%;
    margin: 10px auto;
    border-bottom: 1px solid #ccc;
    min-height: 40px;
    display: flex;
    row-gap: 5px;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 0 10px; 
}
#words{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
    margin: 0 auto;
}
p{ 
    padding: 10px 0;
    margin: 0 10px;
    border-radius: 14px;

    background-color: #827f7f;
}
.wordBank span{
    margin:0 3px;
    box-shadow: none;
}
 span{
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 10px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #827f7f;
    margin: 5px;
}
.inActive{
    background-color: #d5cece;
    color: #d5cece;
    box-shadow: none;
    user-select: none;
    /* border-radius: 0; */
}
.button{
    width: 90%;
    margin: 200px auto 20px;
}
button{ 
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px ;
    word-spacing: 3px;
    background-color: rgb(4, 186, 19);
    box-shadow: 0px 4px 1px rgb(4, 115, 4);
}




@media only screen and (max-width: 540px)  {
    .container{
        width: 100%; 
        margin: 0;
        border-radius: 0;
        box-shadow: initial;
        position: relative;
    }
    body{
        background-color: white;
    }
    .button{
        position: absolute;
        bottom: 0;  
        text-align: center;
        width: 100%; 
    }
    .button button{
        width: 90%;
        margin: 0 auto; 
    }
}